PruebaTracking/Service References/PLMLogsEngine/PLMLogsEngine3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PLMLogsEngine/PLMLogsEngine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PSELogsBusinessEntities" />
  <xs:import schemaLocation="http://localhost/PLMLogsEngine/PLMLogsEngine.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InfoLogsBusinessEntries" />
  <xs:import schemaLocation="http://localhost/PLMLogsEngine/PLMLogsEngine.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PLMLogsBusinessEntries" />
  <xs:element name="addLogActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PSELogsBusinessEntities" minOccurs="0" name="track" nillable="true" type="q1:PSE_TrackingListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLogActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="logsAddActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PSELogsBusinessEntities" minOccurs="0" name="trackList" nillable="true" type="q2:ArrayOfPSE_TrackingListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logsAddActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PSELogsBusinessEntities" minOccurs="0" name="logsAddActivitiesResult" nillable="true" type="q3:ArrayOfPSE_TrackingListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLogParentActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PSELogsBusinessEntities" minOccurs="0" name="parentTrack" nillable="true" type="q4:PSE_TrackingParentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLogParentActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="logsAddParentActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PSELogsBusinessEntities" minOccurs="0" name="parentTrackList" nillable="true" type="q5:ArrayOfPSE_TrackingParentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logsAddParentActivitiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addTrackingActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/InfoLogsBusinessEntries" minOccurs="0" name="track" nillable="true" type="q6:Info_TrackingListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTrackingActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addTrackingActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/InfoLogsBusinessEntries" minOccurs="0" name="trackList" nillable="true" type="q7:ArrayOfInfo_TrackingListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTrackingActivitiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addPLMTrackingActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PLMLogsBusinessEntries" minOccurs="0" name="track" nillable="true" type="q8:TrackingListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPLMTrackingActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addPLMTrackingActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PLMLogsBusinessEntries" minOccurs="0" name="trackList" nillable="true" type="q9:ArrayOfTrackingListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPLMTrackingActivitiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addPLMTrackingParentActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PLMLogsBusinessEntries" minOccurs="0" name="parentTrack" nillable="true" type="q10:TrackingParentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPLMTrackingParentActivityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addPLMTrackingParentActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PLMLogsBusinessEntries" minOccurs="0" name="parentTrackList" nillable="true" type="q11:ArrayOfTrackingParentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPLMTrackingParentActivitiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>