PruebaTracking/Service References/PLMLogsEngine/PLMLogsEngine1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PSELogsBusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PSELogsBusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PSE_TrackingListInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attributes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditionId" type="xs:int" />
      <xs:element minOccurs="0" name="EntityId" type="xs:int" />
      <xs:element minOccurs="0" name="JsonFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Replicate" type="xs:boolean" />
      <xs:element minOccurs="0" name="SearchDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SearchParameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchTypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SourceId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TrackId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PSE_TrackingListInfo" nillable="true" type="tns:PSE_TrackingListInfo" />
  <xs:complexType name="ArrayOfPSE_TrackingListInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PSE_TrackingListInfo" nillable="true" type="tns:PSE_TrackingListInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPSE_TrackingListInfo" nillable="true" type="tns:ArrayOfPSE_TrackingListInfo" />
  <xs:complexType name="PSE_TrackingParentInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PSE_TrackingListInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChildrenTrackingInfo" nillable="true" type="tns:ArrayOfPSE_TrackingListInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PSE_TrackingParentInfo" nillable="true" type="tns:PSE_TrackingParentInfo" />
  <xs:complexType name="ArrayOfPSE_TrackingParentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PSE_TrackingParentInfo" nillable="true" type="tns:PSE_TrackingParentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPSE_TrackingParentInfo" nillable="true" type="tns:ArrayOfPSE_TrackingParentInfo" />
</xs:schema>