PruebaTracking/Service References/PLMLogsEngine/PLMLogsEngine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InfoLogsBusinessEntries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InfoLogsBusinessEntries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Info_TrackingListInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" type="xs:int" />
      <xs:element minOccurs="0" name="JSONFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Replicate" type="xs:boolean" />
      <xs:element minOccurs="0" name="SearchDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SearchParameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchTypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SourceId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TrackId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Info_TrackingListInfo" nillable="true" type="tns:Info_TrackingListInfo" />
  <xs:complexType name="ArrayOfInfo_TrackingListInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Info_TrackingListInfo" nillable="true" type="tns:Info_TrackingListInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfo_TrackingListInfo" nillable="true" type="tns:ArrayOfInfo_TrackingListInfo" />
</xs:schema>