PruebaTracking/Service References/PLMLogsEngine/PLMLogs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PLMLogs" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/PLMLogsEngine/PLMLogsEngine.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/PLMLogsEngine/PLMLogsEngine.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/PLMLogsEngine/PLMLogsEngine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PSELogsBusinessEntities" />
      <xsd:import schemaLocation="http://localhost/PLMLogsEngine/PLMLogsEngine.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InfoLogsBusinessEntries" />
      <xsd:import schemaLocation="http://localhost/PLMLogsEngine/PLMLogsEngine.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PLMLogsBusinessEntries" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPLMLogs_addLogActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:addLogActivity" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addLogActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:addLogActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_logsAddActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:logsAddActivities" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_logsAddActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:logsAddActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addLogParentActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:addLogParentActivity" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addLogParentActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:addLogParentActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_logsAddParentActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:logsAddParentActivities" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_logsAddParentActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:logsAddParentActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addTrackingActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:addTrackingActivity" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addTrackingActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTrackingActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addTrackingActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:addTrackingActivities" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addTrackingActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTrackingActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addPLMTrackingActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:addPLMTrackingActivity" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addPLMTrackingActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPLMTrackingActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addPLMTrackingActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:addPLMTrackingActivities" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addPLMTrackingActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPLMTrackingActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addPLMTrackingParentActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:addPLMTrackingParentActivity" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addPLMTrackingParentActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPLMTrackingParentActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addPLMTrackingParentActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:addPLMTrackingParentActivities" />
  </wsdl:message>
  <wsdl:message name="IPLMLogs_addPLMTrackingParentActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPLMTrackingParentActivitiesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPLMLogs">
    <wsdl:operation name="addLogActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMLogs/addLogActivity" message="tns:IPLMLogs_addLogActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMLogs/addLogActivityResponse" message="tns:IPLMLogs_addLogActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logsAddActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMLogs/logsAddActivities" message="tns:IPLMLogs_logsAddActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMLogs/logsAddActivitiesResponse" message="tns:IPLMLogs_logsAddActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addLogParentActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMLogs/addLogParentActivity" message="tns:IPLMLogs_addLogParentActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMLogs/addLogParentActivityResponse" message="tns:IPLMLogs_addLogParentActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logsAddParentActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMLogs/logsAddParentActivities" message="tns:IPLMLogs_logsAddParentActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMLogs/logsAddParentActivitiesResponse" message="tns:IPLMLogs_logsAddParentActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTrackingActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMLogs/addTrackingActivity" message="tns:IPLMLogs_addTrackingActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMLogs/addTrackingActivityResponse" message="tns:IPLMLogs_addTrackingActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTrackingActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMLogs/addTrackingActivities" message="tns:IPLMLogs_addTrackingActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMLogs/addTrackingActivitiesResponse" message="tns:IPLMLogs_addTrackingActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPLMTrackingActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMLogs/addPLMTrackingActivity" message="tns:IPLMLogs_addPLMTrackingActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMLogs/addPLMTrackingActivityResponse" message="tns:IPLMLogs_addPLMTrackingActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPLMTrackingActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMLogs/addPLMTrackingActivities" message="tns:IPLMLogs_addPLMTrackingActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMLogs/addPLMTrackingActivitiesResponse" message="tns:IPLMLogs_addPLMTrackingActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPLMTrackingParentActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMLogs/addPLMTrackingParentActivity" message="tns:IPLMLogs_addPLMTrackingParentActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMLogs/addPLMTrackingParentActivityResponse" message="tns:IPLMLogs_addPLMTrackingParentActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPLMTrackingParentActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMLogs/addPLMTrackingParentActivities" message="tns:IPLMLogs_addPLMTrackingParentActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMLogs/addPLMTrackingParentActivitiesResponse" message="tns:IPLMLogs_addPLMTrackingParentActivities_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPLMLogs" type="tns:IPLMLogs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addLogActivity">
      <soap:operation soapAction="http://tempuri.org/IPLMLogs/addLogActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logsAddActivities">
      <soap:operation soapAction="http://tempuri.org/IPLMLogs/logsAddActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addLogParentActivity">
      <soap:operation soapAction="http://tempuri.org/IPLMLogs/addLogParentActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logsAddParentActivities">
      <soap:operation soapAction="http://tempuri.org/IPLMLogs/logsAddParentActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTrackingActivity">
      <soap:operation soapAction="http://tempuri.org/IPLMLogs/addTrackingActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTrackingActivities">
      <soap:operation soapAction="http://tempuri.org/IPLMLogs/addTrackingActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPLMTrackingActivity">
      <soap:operation soapAction="http://tempuri.org/IPLMLogs/addPLMTrackingActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPLMTrackingActivities">
      <soap:operation soapAction="http://tempuri.org/IPLMLogs/addPLMTrackingActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPLMTrackingParentActivity">
      <soap:operation soapAction="http://tempuri.org/IPLMLogs/addPLMTrackingParentActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPLMTrackingParentActivities">
      <soap:operation soapAction="http://tempuri.org/IPLMLogs/addPLMTrackingParentActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PLMLogs">
    <wsdl:port name="BasicHttpBinding_IPLMLogs" binding="tns:BasicHttpBinding_IPLMLogs">
      <soap:address location="http://localhost/PLMLogsEngine/PLMLogsEngine.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>