WS_CIIB_UNAM/Service References/wsUNAM/CiibServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ciib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ciib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArticulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Articulo" nillable="true" type="tns:Articulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticulo" nillable="true" type="tns:ArrayOfArticulo" />
  <xs:complexType name="Articulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Afiliacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pmid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resumen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Revista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Articulo" nillable="true" type="tns:Articulo" />
</xs:schema>